{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}


	<section>
		<div class="container py-5 h-100">
			<div class="shadow row d-flex align-items-center justify-content-center h-100 bg-white rounded p-4">
				<div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1 g--transicion2 pt-2 pb-2">
					<h3>Area de acceso a usuarios</h3>
					{% for flashMessage in app.flashes('confirmacion') %}
						<div class="alert alert-success">{{ flashMessage }}</div>
					{% endfor %}
					<form method="post" class="mt-5">
						{% if error %}
							<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}

						{% if app.user %}
							<div class="mb-3">
								Te encuentras actualmente identificado como
								{{ app.user.userIdentifier }},
								<a href="{{ path('app_logout') }}">Desconectar</a>
							</div>
						{% else %}
							<div class="form-outline mb-4">
								<label class="form-label" for="inputUsername">Usuario</label>
								<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control form-control-lg" autocomplete="username" required autofocus/>

							</div>
							<div class="form-outline mb-4">
								<label class="form-label" for="inputPassword">Password</label>
								<input type="password" name="password" id="inputPassword" class="form-control form-control-lg" autocomplete="current-password" required/>

							</div>

							<div class="d-flex justify-content-around mb-4">
								<p>Si no está registrado puedes hacerlo
									<a href="#!">Aquí</a>
								</p>
							</div>

							<!-- Submit button -->
							<button type="submit" class="btn btn-primary btn-lg btn-block">Acceder</button>
							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

						</form>
					</div>
					<div class="col-lg-7 col-xl-6 mt-5 d-none d-md-none d-lg-block">
						<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg" class="img-fluid" alt="Phone image">
					</div>
				</div>
			</div>
		{% endif %}


	</section>
{% endblock %}
